:root {
  --background: #e2e8f0;
  --foreground: #000000;
  --secondary: #475569;
  --toggle-button-bg: rgba(0, 0, 0, 0.05);
}

.dark {
  --background: #0f172a;
  --foreground: #ffffff;
  --secondary: #cbd5e1;
  --toggle-button-bg: rgba(255, 255, 255, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 24px;
}
